<ion-view>
	<ion-content id="login">
		<div id="title">
			<h1>Gamify Anything</h1>
			<p>It's okay to have fun!<br>v.1.0.1</p>
		</div>
		<div id="login-form">
			<div class="list">
				<label class="item item-input">
					<input type="email" placeholder="Email" ng-model="user.email">
				</label>
				<label class="item item-input">
					<input type="password" placeholder="Password" ng-model="user.password">
				</label>
			</div>
			<button class="button button-block button-light button-outline" ng-click="signIn(user)">Login</button>
		</div>
	</ion-content>
</ion-view>
